# http://dev.mysql.com/doc/refman/5.6/en/server-configuration-defaults.html
[mysqld]

datadir = /zz_Data/mysql
port = 3306
server_id = 6456411
# socket = .....

# log
log_bin = mysql_bin.log
binlog_ignore_db = mysql
binlog_ignore_db = test
binlog_ignore_db = information_schema
binlog_ignore_db = performance_schema
expire_logs_days = 15
slow_query_log = 1
long_query_time = 1
slow_query_log_file = slow_query.log


# Use small memory  Default is auto
table_definition_cache = 400
performance_schema_max_table_instances = 400
table_open_cache = 256


#innodb_buffer_pool_size = 10M
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M 

skip-name-resolve
skip-slave-start

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

[mysql]
prompt = 'mysql \u@[\r:\d] > '
default-character-set = utf8


